div.HyperMD-header-1 {
    color: rgb(36, 178, 254);
    font-size: 36px;
} 

div.HyperMD-header-2 {
    color: rgb(163, 243, 238);
    font-size: 30px;
} 

div.HyperMD-header-3 {
    color: rgb(14, 250, 116);
    font-size: 24px;
} 

hr {
    border-color: yellow;
    margin-top: 10px; /* Add spacing above horizontal lines */
}

/* Change the color of text enclosed in double asterisks to red */
:root body {
    --bold-color: rgb(34, 159, 248);
}
  